<ion-header>
  <ion-toolbar>
    Your Location
  </ion-toolbar>
</ion-header>
<ion-content scroll="false">
  <div *ngIf="showMap" id="map-canvas">
  </div>
  <div *ngIf="!showMap" padding>
    <ion-label>Tell us what is your location ?</ion-label>
    <ion-select [(ngModel)]="selectedOption" interface="popover" class="select-location">
      <ion-option *ngFor="let loc of locations" [value]="loc"> {{ loc.key }} </ion-option>
    </ion-select>
    <button ion-button block (tap)="loadMap()" >Submit</button>
  </div>
</ion-content>